* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --night-rider-gray: #2f2f2f;
  --aubergine-gray: #231f20;
  --limerick-green: #8bac17;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html,
body,
div#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(to bottom, var(--aubergine-gray) 50%, var(--night-rider-gray));
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.btn {
  background: var(--aubergine-gray);
  border-color: var(--limerick-green);
  border-radius: 0;
  font-weight: bold;
  transition: 0.2s;

  &:hover,
  &:focus {
    background: var(--aubergine-gray);
    border-color: var(--limerick-green);
    box-shadow: 0 0 1px 1px var(--limerick-green);
    filter: brightness(0.9);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

th,
td {
  color: var(--white);
}
