.headerContainer {
  align-items: center;
  display: flex;
  img {
    margin-top: 1rem;
  }

  h1 {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
  }

  .icons {
    font-size: 6rem;
    margin-left: 1rem;
  }

  @media (min-width: 720px) {
    h1 {
      font-size: 5rem;
    }
  }
}
