.headerContainer {
  align-items: center;
  display: flex;
  img {
    height: 4rem;
  }

  h1 {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
  }

  @media (min-width: 720px) {
    img {
      height: 10rem;
    }

    h1 {
      font-size: 5rem;
    }
  }
}
