.tableContainer {
  margin-top: 1rem;

  h2 {
    border: solid rgba(0, 0, 0, 0.125);
    border-width: 1px 1px 0 1px;
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-transform: capitalize;
  }
}
